@using Common
@using directory = HSEvents.Web.Views.DirectoryType;

@section Styles {
    <link href="@Url.Content("~/Content/DirectoryStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/Views/DirectoryScript.js")"></script>
}

@{ var controller = "#";}
<h2>Справочники</h2>

<div style="min-width: 850px;">
    <div id="menu">

        <div><a href="@controller@(directory.School)" onclick="change('Школы')">@directory.School.GetDescription()</a></div>
        <div><a href="@controller@(directory.AcademicProgram)" onclick="change('Академические программы')">@directory.AcademicProgram.GetDescription()</a></div>
        <div><a href="@controller@(directory.SchoolType)" onclick="change('Типы школ')">@directory.SchoolType.GetDescription()</a></div>
        <div><a href="@controller@(directory.CityType)" onclick="change('Типы населенных пунктов')">@directory.CityType.GetDescription()</a></div>
        <div><a href="@controller@(directory.Volunteer)" onclick="change('Волонтеры')">@directory.Volunteer.GetDescription()</a></div>
        <div><a href="@controller@(directory.Address)" onclick="change('Адреса')">@directory.Address.GetDescription()</a></div>
        <div><a href="@controller@(directory.Department)" onclick="change('Департаменты')">@directory.Department.GetDescription()</a></div>
    </div>
    <div id="content">
        <h2 id="title">@ViewBag.Title</h2>
        <br />

        

        <input type="button" class="btn btn-default" style="width: 73%" value="Добавить" onclick="add()" />
        <br />
        <br />

        <div id="list"></div>
        
        
        <div id="modDialog" class="modal fade" >
            <div id="dialogContent" class="modal-dialog"></div>
        </div>

    </div>


</div>

